body{ background-color:lightskyblue; padding: 10px;}
h1{color:whitesmoke; font-family:fantasy; font-size: 40px; padding: 10px;}
button{color: blue;
     font-size: medium;
     text-decoration: none;
    }
a:visited{
    color:blue;
    text-decoration: none;
}
a:hover{
    text-align: center;
    text-decoration-line: none;
    text-decoration: none;
    background-color: whitesmoke;
    color: lightskyblue;
 }
 p{color:whitesmoke; font-size: 30px; padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
 body{background-image: url("images/stack-books-with-glasses-wooden-desk.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}
.shapner{
    color:whitesmoke; font-size: 30px; padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}