body{ 
    background-color:lightskyblue; padding: 10px;}
    h1{color:whitesmoke; font-family:fantasy; font-size: 40px; padding: 10px;}

.ang > a {
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    font-weight:bold;
}
a:visited{
    color:white;
    font-size: 100px;
    /* text-decoration: none; */
}

a:hover{
    text-align: center;
    /* text-decoration-line: none; */
    /* text-decoration: none; */
    background-color: whitesmoke;
    color: lightskyblue;
 }
 p{color:whitesmoke; font-size: 30px; padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
 body{
    background-image: url('images/disruptive-education-globe-background-vector-geography-digital-remix.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}
.Eraser{
    width: 100px;

}
.shapner{
    color:whitesmoke; font-size: 30px; padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Cleaner{
    color:whitesmoke; font-size: 30px; padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.book{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Pencil{
    color:whitesmoke; font-size: 30px; padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}
.contact-us-box{
    color: white;
}
.contact-us-nav{
    background-color: wheat;
    color: aliceblue;
}